<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAATGsw3ELlAPKIJX7yt5dHsfSt1qxxE2c</string>
	<key>GCM_SENDER_ID</key>
	<string>473010112463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crypRage</string>
	<key>PROJECT_ID</key>
	<string>cryp-trage</string>
	<key>STORAGE_BUCKET</key>
	<string>cryp-trage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473010112463:ios:5e6dec95da6ca6e350b4ba</string>
</dict>
</plist>